{
	"Version": 1,
	"Id": "{{uuid}}",
	"DisplayName": "Jenerated {{name}}",
	"Colors":
	{
		"EStyleColor::Black": "(R={{bg_chrome_linear_r}},G={{bg_chrome_linear_g}},B={{bg_chrome_linear_b}},A=1.000000)",
		"EStyleColor::Background": "(R={{bg_minimap_linear_r}},G={{bg_minimap_linear_g}},B={{bg_minimap_linear_b}},A=1.000000)",
		"EStyleColor::Title": "(R={{bg_chrome_linear_r}},G={{bg_chrome_linear_g}},B={{bg_chrome_linear_b}},A=1.000000)",
		"EStyleColor::WindowBorder": "(R={{bg_chrome_linear_r}},G={{bg_chrome_linear_g}},B={{bg_chrome_linear_b}},A=1.000000)",
		"EStyleColor::Foldout": "(R={{bg_chrome_linear_r}},G={{bg_chrome_linear_g}},B={{bg_chrome_linear_b}},A=1.000000)",
		"EStyleColor::Input": "(R={{bg_chrome_linear_r}},G={{bg_chrome_linear_g}},B={{bg_chrome_linear_b}},A=1.000000)",
		"EStyleColor::InputOutline": "(R={{border_linear_r}},G={{border_linear_g}},B={{border_linear_b}},A=1.000000)",
		"EStyleColor::Recessed": "(R={{bg_sidebar_linear_r}},G={{bg_sidebar_linear_g}},B={{bg_sidebar_linear_b}},A=1.000000)",
		"EStyleColor::Panel": "(R={{bg_linear_r}},G={{bg_linear_g}},B={{bg_linear_b}},A=1.000000)",
		"EStyleColor::Header": "(R={{bg_widget_linear_r}},G={{bg_widget_linear_g}},B={{bg_widget_linear_b}},A=1.000000)",
		"EStyleColor::Dropdown": "(R={{bg_widget_linear_r}},G={{bg_widget_linear_g}},B={{bg_widget_linear_b}},A=1.000000)",
		"EStyleColor::DropdownOutline": "(R={{border_linear_r}},G={{border_linear_g}},B={{border_linear_b}},A=1.000000)",
		"EStyleColor::Hover": "(R={{bg_secondary_hover_linear_r}},G={{bg_secondary_hover_linear_g}},B={{bg_secondary_hover_linear_b}},A=1.000000)",
		"EStyleColor::Hover2": "(R={{text_faint_linear_r}},G={{text_faint_linear_g}},B={{text_faint_linear_b}},A=1.000000)",
		"EStyleColor::White": "(R={{text_strong_linear_r}},G={{text_strong_linear_g}},B={{text_strong_linear_b}},A=1.000000)",
		"EStyleColor::White25": "(R={{text_strong_linear_r}},G={{text_strong_linear_g}},B={{text_strong_linear_b}},A=0.250000)",
		"EStyleColor::Highlight": "(R={{accent_linear_r}},G={{accent_linear_g}},B={{accent_linear_b}},A=1.000000)",
		"EStyleColor::Primary": "(R={{accent_linear_r}},G={{accent_linear_g}},B={{accent_linear_b}},A=1.000000)",
		"EStyleColor::PrimaryHover": "(R={{accent_hover_linear_r}},G={{accent_hover_linear_g}},B={{accent_hover_linear_b}},A=1.000000)",
		"EStyleColor::PrimaryPress": "(R={{accent_hover_linear_r}},G={{accent_hover_linear_g}},B={{accent_hover_linear_b}},A=1.000000)",
		"EStyleColor::Secondary": "(R={{bg_hover_linear_r}},G={{bg_hover_linear_g}},B={{bg_hover_linear_b}},A=1.000000)",
		"EStyleColor::Foreground": "(R={{text_linear_r}},G={{text_linear_g}},B={{text_linear_b}},A=1.000000)",
		"EStyleColor::ForegroundHover": "(R={{text_strong_linear_r}},G={{text_strong_linear_g}},B={{text_strong_linear_b}},A=1.000000)",
		"EStyleColor::ForegroundInverted": "(R={{bg_linear_r}},G={{bg_linear_g}},B={{bg_linear_b}},A=1.000000)",
		"EStyleColor::ForegroundHeader": "(R={{text_subtle_linear_r}},G={{text_subtle_linear_g}},B={{text_subtle_linear_b}},A=1.000000)",
		"EStyleColor::Select": "(R={{accent_linear_r}},G={{accent_linear_g}},B={{accent_linear_b}},A=1.000000)",
		"EStyleColor::SelectInactive": "(R={{bg_selected_linear_r}},G={{bg_selected_linear_g}},B={{bg_selected_linear_b}},A=1.000000)",
		"EStyleColor::SelectParent": "(R={{bg_line_highlight_linear_r}},G={{bg_line_highlight_linear_g}},B={{bg_line_highlight_linear_b}},A=1.000000)",
		"EStyleColor::SelectHover": "(R={{bg_hover_linear_r}},G={{bg_hover_linear_g}},B={{bg_hover_linear_b}},A=1.000000)",
		"EStyleColor::Notifications": "(R={{bg_widget_linear_r}},G={{bg_widget_linear_g}},B={{bg_widget_linear_b}},A=1.000000)",
		"EStyleColor::AccentBlue": "(R={{term_blue_linear_r}},G={{term_blue_linear_g}},B={{term_blue_linear_b}},A=1.000000)",
		"EStyleColor::AccentPurple": "(R={{term_magenta_linear_r}},G={{term_magenta_linear_g}},B={{term_magenta_linear_b}},A=1.000000)",
		"EStyleColor::AccentPink": "(R={{term_bright_magenta_linear_r}},G={{term_bright_magenta_linear_g}},B={{term_bright_magenta_linear_b}},A=1.000000)",
		"EStyleColor::AccentRed": "(R={{term_red_linear_r}},G={{term_red_linear_g}},B={{term_red_linear_b}},A=1.000000)",
		"EStyleColor::AccentOrange": "(R={{orange_linear_r}},G={{orange_linear_g}},B={{orange_linear_b}},A=1.000000)",
		"EStyleColor::AccentYellow": "(R={{term_yellow_linear_r}},G={{term_yellow_linear_g}},B={{term_yellow_linear_b}},A=1.000000)",
		"EStyleColor::AccentGreen": "(R={{term_green_linear_r}},G={{term_green_linear_g}},B={{term_green_linear_b}},A=1.000000)",
		"EStyleColor::AccentBrown": "(R={{text_faint_linear_r}},G={{text_faint_linear_g}},B={{text_faint_linear_b}},A=1.000000)",
		"EStyleColor::AccentBlack": "(R={{term_black_linear_r}},G={{term_black_linear_g}},B={{term_black_linear_b}},A=1.000000)",
		"EStyleColor::AccentGray": "(R={{term_bright_black_linear_r}},G={{term_bright_black_linear_g}},B={{term_bright_black_linear_b}},A=1.000000)",
		"EStyleColor::AccentWhite": "(R={{term_bright_white_linear_r}},G={{term_bright_white_linear_g}},B={{term_bright_white_linear_b}},A=1.000000)",
		"EStyleColor::AccentFolder": "(R={{accent_soft_linear_r}},G={{accent_soft_linear_g}},B={{accent_soft_linear_b}},A=1.000000)",
		"EStyleColor::Warning": "(R={{yellow_linear_r}},G={{yellow_linear_g}},B={{yellow_linear_b}},A=1.000000)",
		"EStyleColor::Error": "(R={{red_linear_r}},G={{red_linear_g}},B={{red_linear_b}},A=1.000000)",
		"EStyleColor::Success": "(R={{green_linear_r}},G={{green_linear_g}},B={{green_linear_b}},A=1.000000)"
	}
}
