{
  "accentFromPage": false,
  "accentOnWindow": false,
  "accentSaturationLimit": 1,
  "alpha": 1,
  "backgroundImage": "",
  "backgroundPosition": "stretch",
  "blur": 0,
  "colorAccentBg": "{{bg_chrome}}",
  "colorBg": "{{bg}}",
  "colorFg": "{{text}}",
  "colorHighlightBg": "{{accent}}",
  "colorPosition": "unified",
  "colorWindowBg": "{{bg_minimap}}",
  "contrast": 0,
  "dimBlurred": false,
  "engineVersion": 1,
  "id": "{{uuid}}",
  "name": "Jenerated {{name}}",
  "preferSystemAccent": false,
  "radius": 6,
  "simpleScrollbar": false,
  "transparencyTabBar": false,
  "transparencyTabs": false,
  "url": "",
  "version": 1
}
