[Palette]
Name={{name}}
Background={{bg}}
Foreground={{text}}
TitlebarBackground={{bg_chrome}}
TitlebarForeground={{text}}
Cursor={{accent}}
Color0={{term_black}}
Color1={{term_red}}
Color2={{term_green}}
Color3={{term_yellow}}
Color4={{term_blue}}
Color5={{term_magenta}}
Color6={{term_cyan}}
Color7={{term_white}}
Color8={{term_bright_black}}
Color9={{term_bright_red}}
Color10={{term_bright_green}}
Color11={{term_bright_yellow}}
Color12={{term_bright_blue}}
Color13={{term_bright_magenta}}
Color14={{term_bright_cyan}}
Color15={{term_bright_white}}
