{
  "type": "custom",
  "sidebarBg": "{{bg_sidebar}}",
  "sidebarText": "{{text_subtle}}",
  "sidebarUnreadText": "{{text_strong}}",
  "sidebarTextHoverBg": "{{bg_hover}}",
  "sidebarTextActiveBorder": "{{accent}}",
  "sidebarTextActiveColor": "{{text_strong}}",
  "sidebarHeaderBg": "{{bg_chrome}}",
  "sidebarHeaderTextColor": "{{text}}",
  "sidebarTeamBarBg": "{{bg_chrome}}",
  "onlineIndicator": "{{green}}",
  "awayIndicator": "{{yellow}}",
  "dndIndicator": "{{red}}",
  "mentionBg": "{{accent}}",
  "mentionBj": "{{accent}}",
  "mentionColor": "{{text_bright}}",
  "centerChannelBg": "{{bg}}",
  "centerChannelColor": "{{text}}",
  "newMessageSeparator": "{{accent_soft}}",
  "linkColor": "{{accent_soft}}",
  "buttonBg": "{{accent}}",
  "buttonColor": "{{text_bright}}",
  "errorTextColor": "{{red}}",
  "mentionHighlightBg": "{{selection}}",
  "mentionHighlightLink": "{{accent_pale}}",
  "codeTheme": "{{scheme: "monokai" | "github"}}"
}
