{
    "metadata": {
        "copyright": [
            "SPDX-FileCopyrightText: 2026 savagejen"
        ],
        "license": "SPDX-License-Identifier: MIT",
        "revision": 1,
        "name": "Jenerated {{name}}"
    },
    "text-styles": {
        "Normal": {
            "text-color": "{{text}}",
            "selected-text-color": "{{text}}",
            "bold": false,
            "italic": false,
            "underline": false,
            "strike-through": false
        },
        "Keyword": {
            "text-color": "{{accent_soft}}",
            "selected-text-color": "{{accent_soft}}",
            "bold": true
        },
        "Function": {
            "text-color": "{{accent_light}}",
            "selected-text-color": "{{accent_light}}"
        },
        "Variable": {
            "text-color": "{{text}}",
            "selected-text-color": "{{text}}"
        },
        "ControlFlow": {
            "text-color": "{{accent_soft}}",
            "selected-text-color": "{{accent_soft}}",
            "bold": true
        },
        "Operator": {
            "text-color": "{{text_subtle}}",
            "selected-text-color": "{{text_subtle}}"
        },
        "BuiltIn": {
            "text-color": "{{cyan}}",
            "selected-text-color": "{{cyan}}"
        },
        "Extension": {
            "text-color": "{{accent}}",
            "selected-text-color": "{{accent}}",
            "bold": true
        },
        "Preprocessor": {
            "text-color": "{{accent_soft}}",
            "selected-text-color": "{{accent_soft}}"
        },
        "Attribute": {
            "text-color": "{{orange}}",
            "selected-text-color": "{{orange}}"
        },
        "Char": {
            "text-color": "{{green}}",
            "selected-text-color": "{{green}}"
        },
        "SpecialChar": {
            "text-color": "{{yellow}}",
            "selected-text-color": "{{yellow}}"
        },
        "String": {
            "text-color": "{{green}}",
            "selected-text-color": "{{green}}"
        },
        "VerbatimString": {
            "text-color": "{{green}}",
            "selected-text-color": "{{green}}"
        },
        "SpecialString": {
            "text-color": "{{yellow}}",
            "selected-text-color": "{{yellow}}"
        },
        "Import": {
            "text-color": "{{accent_soft}}",
            "selected-text-color": "{{accent_soft}}"
        },
        "DataType": {
            "text-color": "{{cyan}}",
            "selected-text-color": "{{cyan}}"
        },
        "DecVal": {
            "text-color": "{{orange}}",
            "selected-text-color": "{{orange}}"
        },
        "BaseN": {
            "text-color": "{{orange}}",
            "selected-text-color": "{{orange}}"
        },
        "Float": {
            "text-color": "{{orange}}",
            "selected-text-color": "{{orange}}"
        },
        "Constant": {
            "text-color": "{{magenta}}",
            "selected-text-color": "{{magenta}}"
        },
        "Comment": {
            "text-color": "{{text_muted}}",
            "selected-text-color": "{{text_muted}}",
            "italic": true
        },
        "Documentation": {
            "text-color": "{{text_muted}}",
            "selected-text-color": "{{text_muted}}",
            "italic": true
        },
        "Annotation": {
            "text-color": "{{yellow}}",
            "selected-text-color": "{{yellow}}"
        },
        "CommentVar": {
            "text-color": "{{accent_soft}}",
            "selected-text-color": "{{accent_soft}}",
            "italic": true
        },
        "RegionMarker": {
            "text-color": "{{accent}}",
            "selected-text-color": "{{accent}}",
            "background-color": "{{bg_selected}}"
        },
        "Information": {
            "text-color": "{{accent_light}}",
            "selected-text-color": "{{accent_light}}"
        },
        "Warning": {
            "text-color": "{{yellow}}",
            "selected-text-color": "{{yellow}}"
        },
        "Alert": {
            "text-color": "{{red}}",
            "selected-text-color": "{{red}}",
            "bold": true
        },
        "Error": {
            "text-color": "{{red}}",
            "selected-text-color": "{{red}}",
            "underline": true
        },
        "Others": {
            "text-color": "{{accent_pale}}",
            "selected-text-color": "{{accent_pale}}"
        }
    },
    "editor-colors": {
        "BackgroundColor": "{{bg}}",
        "CodeFolding": "{{bg_selected}}",
        "BracketMatching": "{{bg_secondary_hover}}",
        "CurrentLine": "{{bg_line_highlight}}",
        "IconBorder": "{{bg}}",
        "IndentationLine": "{{guide}}",
        "LineNumbers": "{{text_faint}}",
        "CurrentLineNumber": "{{text_subtle}}",
        "MarkBookmark": "{{accent}}",
        "MarkBreakpointActive": "{{red}}",
        "MarkBreakpointReached": "{{yellow}}",
        "MarkBreakpointDisabled": "{{magenta}}",
        "MarkExecution": "{{bg_secondary_hover}}",
        "MarkWarning": "{{yellow}}",
        "MarkError": "{{red}}",
        "ModifiedLines": "{{accent}}",
        "ReplaceHighlight": "{{selection}}",
        "SavedLines": "{{green}}",
        "SearchHighlight": "{{bg_secondary_hover}}",
        "TextSelection": "{{selection}}",
        "Separator": "{{border}}",
        "SpellChecking": "{{red}}",
        "TabMarker": "{{whitespace}}",
        "TemplateBackground": "{{bg_widget}}",
        "TemplatePlaceholder": "{{bg_selected}}",
        "TemplateFocusedPlaceholder": "{{bg_secondary_hover}}",
        "TemplateReadOnlyPlaceholder": "{{bg_hover}}",
        "WordWrapMarker": "{{guide}}"
    }
}
